@charset "utf-8";

/* ==================================================== */
/* Please customize it as users' convenient. */
/* ==================================================== */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,700);  



/* 제목 */
.m9-h1{font-size:2.1em !important;margin:0}
.m9-h2{font-size:1.7em !important;margin:0}
.m9-h3{font-size:1.38em !important;margin:0}
.m9-h4{font-size:1.25em !important;margin:0}
.m9-h5{font-size:1.1em !important;margin:0}
.m9-h6{font-size:0.9em !important;margin:0}

.m9-img-size-1{width:300px}

/* 글꼴 */
.font-family-1{font-family:'Nanum Myeongjo',Gulim,sans-serif} /*명조*/
.font-family-2{font-family:Arial; font-weight:600} /*숫자전용*/
.font-family-3{font-family:'Roboto Condensed',sans-serif} /*영문전용*/

/* br,hr */
.box-br,.br{height:40px}
.m9-hr-1{width:100%;height:1px;margin:0;padding:20px 0;line-height:0;border:none;background:none}
.m9-hr-1:after{content:'';display:block;border-bottom:1px solid rgba(0,0,0,0.2)}
.m9-hr-2{width:100%;height:1px;margin:0;padding:20px 0;line-height:0;border:none;background:none}
.m9-hr-2:after{content:'';display:block;border-bottom:1px dashed rgba(0,0,0,0.2)}
.m9-hr-3{width:100%;height:1px;margin:0;padding:20px 0;line-height:0;border:none;background:none}
.m9-hr-3:after{content:'';display:block;border-bottom:1px dotted rgba(0,0,0,0.2)}

.box-hr hr{border:none;border-top:1px solid rgba(0,0,0,0.2);margin:0}

/* alert */
.box-alert-error{padding:0;background-color:#f2dede;border:none;border-left:5px solid #b64846;text-align:justify;color:#b64846;border-radius:0}
.box-alert-info{padding:0;background-color:#c2e1ee;border:none;border-left:5px solid #2c5a70;text-align:justify;color:#2c5a70;border-radius:0}
.box-alert-alert{padding:0;background-color:#fbdd96;border:none;border-left:5px solid #a45a14;text-align:justify;color:#a45a14;border-radius:0}
.box-alert-success{padding:0;background-color:#ddeed6;border:none;border-left:5px solid #367036;text-align:justify;color:#367036;border-radius:0}

/* separate */
.m9-line-1{position:relative;margin:0;text-align:center;border-color:#000;padding:30px 0}
.m9-line-1>hr{width:250px;height:0;border-top-width:1px;border-top-style:solid;border-color:inherit;margin:0 auto}
.m9-line-1>ul{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;border-color:inherit;list-style:none;margin:0;padding:0;}
.m9-line-1>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;display:inline-block;width:0px;margin:0px 2px;height:0px;border-width:6px;border-style:solid;border-color:inherit;transform:rotate(45deg);margin-left:-2px;}
.m9-line-2{border-color:#d8d8d8;padding:30px 0;}
.m9-line-2>ul{position:relative;width:250px;height:0;margin:0 auto;border-color:inherit;}
.m9-line-2>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;}
.m9-line-2>ul>li:first-child{position:absolute;left:50%;top:0;display:inline-block;width:13px;height:0px;transform:translate(-50%) rotate(45deg);box-sizing:border-box;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-2>ul>li:last-child{position:absolute;left:50%;top:0;display:inline-block;width:13px;height:0px;transform:translate(-50%) rotate(-45deg);box-sizing:border-box;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-2>ul:before{position:absolute;right:0;top:0;content:"";display:inline-block;clear:both;width:100px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-2>ul:after{position:absolute;left:0;top:0;content:"";display:inline-block;clear:both;width:100px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-3{padding:30px 0;border-color:#000000}
.m9-line-3>hr{width:60px;margin:0 auto;text-align:center;border-top-width:4px;border-top-style:solid;border-color:inherit}
.m9-line-4{margin:0 auto;text-align:center;border-color:#7e7e7e;padding:20px 0 30px 0;}
.m9-line-4>ul{position:relative;display:inline-block;width:0px;height:0px;text-align:center;padding:0 10px;border-color:inherit}
.m9-line-4>ul:first-of-type:before{position:absolute;right:50px;top:0;content:"";display:inline-block;clear:both;width:200px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-4>ul:last-of-type:after{position:absolute;left:50px;top:0;content:"";display:inline-block;clear:both;width:200px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-4>ul>li{position:absolute;left:50%;top:0;display:inline-block;width:18px;height:0px;font-size:0;text-indent:-99999px;overflow:hidden;box-sizing:border-box;border-top-width:1px;border-top-style:solid;border-color:inherit;}
.m9-line-4>ul>li:first-child{transform:translate(-50%) rotate(45deg)}
.m9-line-4>ul>li:last-child{transform:translate(-50%) rotate(-45deg)}
.m9-line-5{margin:0;text-align:center;border-color:#ccc;padding:30px 0;}
.m9-line-5>ul{display:inline-block;text-align:center;border-color:inherit;list-style:none}
.m9-line-5>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;width:10px;height:10px;border-right-width:2px;border-bottom-width:2px;border-bottom-style:solid;border-right-style:solid;border-color:inherit;transform:rotate(45deg);margin-top:-4px}
.m9-line-6{margin:0;text-align:center;border-color:#4f4f4f;padding:30px 0;}
.m9-line-6>ul{display:inline-block;text-align:center;border-color:inherit;list-style:none}
.m9-line-6>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;display:inline-block;width:10px;height:10px;border-left-width:2px;border-top-width:2px;border-top-style:solid;border-left-style:solid;border-color:inherit;transform:rotate(45deg);margin-left:-2px;}
.m9-line-7{margin:0;text-align:center;border-color:#ccc;padding:30px 0;}
.m9-line-7>ul{position:relative;display:inline-block;text-align:center;border-color:inherit;list-style:none;margin:0;padding:0}
.m9-line-7>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;display:inline-block;width:10px;height:10px;border-left-width:2px;border-top-width:2px;border-top-style:solid;border-left-style:solid;border-color:inherit;transform:rotate(45deg);margin-left:-2px;}
.m9-line-7>ul:before{position:absolute;right:150%;top:10px;content:"";display:inline-block;clear:both;width:200px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-7>ul:after{position:absolute;left:150%;top:10px;content:"";display:inline-block;clear:both;width:200px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-8{margin:0;text-align:center;border-color:#858585;padding:30px 0;}
.m9-line-8>ul{position:relative;display:inline-block;text-align:center;border-color:inherit;list-style:none;margin:0;padding:0}
.m9-line-8>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;display:inline-block;width:10px;height:10px;border-width:2px;border-style:solid;border-color:inherit;transform:rotate(45deg);margin-left:-2px;}
.m9-line-9{margin:0;text-align:center;border-color:#c7c7c7;padding:30px 0;}
.m9-line-9>ul{position:relative;display:inline-block;text-align:center;border-color:inherit;list-style:none;margin:0;padding:0}
.m9-line-9>ul>li{font-size:0;text-indent:-99999px;overflow:hidden;display:inline-block;width:10px;height:10px;border-width:2px;border-style:solid;border-color:inherit;transform:rotate(45deg);margin-left:-2px;}
.m9-line-9>ul:before{position:absolute;right:60px;top:10px;content:"";display:inline-block;clear:both;width:200px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}
.m9-line-9>ul:after{position:absolute;left:60px;top:10px;content:"";display:inline-block;clear:both;width:200px;height:0px;border-top-width:1px;border-top-style:solid;border-color:inherit}

/* 인용구 */		
.quote-1{position:relative;margin:0;padding:2em 1em;line-height:1.7;letter-spacing:0.1em}
.quote-1:before{position:absolute;top:0.5em;left:1em;text-align:left;font-family:'axicon';content:'\f10d';font-size:inherit !important;line-height:inherit !important;color:#696969 !important;}
.quote-1:after{position:absolute;bottom:0.5em;right:1em;text-align:right;font-family:'axicon';content:'\f10e';font-size:inherit !important;line-height:inherit !important;color:#696969 !important;}
.quote-2{position:relative;margin:0;padding:1em;line-height:1.7;letter-spacing:0.1em}
.quote-2:before{display:block;text-align:center;font-family:'axicon';content:'\f10d';color:red !important;filter:alpha(opacity=40);opacity:0.4;-moz-opacity:0.4;font-size:inherit !important;line-height:inherit !important;position:static !important}
.quote-2:after{display:block;text-align:center;font-family:'axicon';content:'\f10e';color:red !important;filter:alpha(opacity=40);opacity:0.4;-moz-opacity:0.4;font-size:inherit !important;line-height:inherit !important;position:static !important}
.quote-3{position:relative;margin:0 0 0 5em;padding:0.5em 1em;line-height:1.7;letter-spacing:0.1em;border-left:2px solid;text-align:left}
.quote-3:before{position:absolute;top:0;left:-1em;text-align:left;font-family:'axicon';content:'\e820';font-size:4em;line-height:1}

/* dl스타일 */
.dl-style-0{display:block;padding:0;margin:0}
.dl-style-0>dt{display:block;padding:0;margin:0}
.dl-style-0>dd{display:block;padding:0;margin:0}

.dl-style-1{display:block;*display:inline;*zoom:1;*width:100%}
.dl-style-1>dt{display:block;float:left;margin-right:5px}
.dl-style-1>dd{display:block;overflow:hidden}
.dl-style-1:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden}

.dl-style-2{display:block;*overfloat:hidden;*float:left;*width:100%}
.dl-style-2>dt{display:block;float:left;margin-right:5px}
.dl-style-2>dd{display:block;float:right; margin-bottom:0}
.dl-style-2:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden}

/* 가운데 선 넣기(상위는 overflow:hidden 이여야함) */
.text-strike-1,.text-strike-2{position:relative;display:inline-block;padding:0 1em}
.text-strike-1:before,.text-strike-2:before{position:absolute;top:0.5em;left:-10000px;width:10000px;height:1px;content:'';background:transparent;border-top-width:1px;border-top-style:solid;border-top-color:inherit}
.text-strike-1:after,.text-strike-2:after{position:absolute;top:0.5em;right:-10000px;width:10000px;height:1px;content:'';background:transparent;border-top-width:1px;border-top-style:solid;border-top-color:inherit}
.text-strike-2:before{border-top-width:1px;border-top-style:dashed}
.text-strike-2:after{border-top-width:1px;border-top-style:dashed}

/* ==================================================================================================================================== */

/* box style */
.box-style-1{border-top:1px solid #ecedee;border-left:1px solid #d6d7d8;border-right:1px solid #d6d7d8;border-bottom:1px solid #c2c3c3;box-shadow:0 1px 0 0 #fff inset,1px 0 0 0 #fff inset,-1px 0 0 0 #fff inset,0 -1px 0 0 #fff inset,0 2px 0 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.09);-moz-box-shadow:0 1px 0 0 #fff inset,1px 0 0 0 #fff inset,-1px 0 0 0 #fff inset,0 -1px 0 0 #fff inset,0 2px 0 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.09);-webkit-box-shadow:0 1px 0 0 #fff inset,1px 0 0 0 #fff inset,-1px 0 0 0 #fff inset,0 -1px 0 0 #fff inset,0 2px 0 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.09)}
.box-style-2{border-top:0;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;box-shadow:inset 0 -1px 0 0 #cacaca;-moz-box-shadow:inset 0 -1px 0 0 #cacaca;-webkit-box-shadow:inset 0 -1px 0 0 #cacaca}
.box-style-3{border-top:1px solid #c9c9c9;border-left:1px solid #b4b4b4;border-right:1px solid #b4b4b4;border-bottom:1px solid #8d8d8d;box-shadow:0 2px 0 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.2)}
.box-style-4{border:2px solid #fff;box-shadow:0 0 7px 0 rgba(0,0,0,0.5)}
.box-style-5{border:1px solid #d2d2d2;box-shadow:0 3px 2px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 3px 2px 0 rgba(0,0,0,0.15);-webkit-box-shadow:0 3px 2px 0 rgba(0,0,0,0.15)}
.box-style-6{box-shadow:1px 1px 3px 0 #a8a8ac inset,-1px -1px 3px 0 #a8a8ac inset;-moz-box-shadow:1px 1px 3px 0 #a8a8ac inset,-1px -1px 3px 0 #a8a8ac inset;-webkit-box-shadow:1px 1px 3px 0 #a8a8ac inset,-1px -1px 3px 0 #a8a8ac inset;border:1px solid #bfbfc1}
.box-style-7{box-shadow:1px 1px 3px 0 #292929 inset,-1px -1px 3px 0 #292929 inset;-moz-box-shadow:1px 1px 3px 0 #292929 inset,-1px -1px 3px 0 #292929 inset;-webkit-box-shadow:1px 1px 3px 0 #292929 inset,-1px -1px 3px 0 #292929 inset}

/* box pattern */
.box-pattern-1{background-image:url(../img/pattern/gradient001.png);background-size: 100% 100%;background-repeat:no-repeat}
.box-pattern-2{background-image:url(../img/pattern/pattern001.png);background-repeat:repeat}
.box-pattern-3{background-image:url(../img/pattern/pattern_0001K.png);background-repeat:repeat}
.box-pattern-4{background-image:url(../img/pattern/pattern_0001W.png);background-repeat:repeat}
.box-pattern-5{background-image:url(../img/pattern/pattern_0002K.png);background-repeat:repeat}
.box-pattern-6{background-image:url(../img/pattern/pattern_0002W.png);background-repeat:repeat}
.box-pattern-7{background-image:url(../img/pattern/pattern_0003K.png);background-repeat:repeat}

/* color */
.black{background-color:#303030;color:#fff;border-color:#000000}
.black a,.black i{color:#f20544}
.grey{background-color:#696969;color:#f0e9da;border-color:#3c3c3c}
.grey a,.grey i{color:#00d2d6}
.light-grey{background-color:#f1f1f1;color:#000;border-color:#999}
.light-grey a,.light-grey i{color:#a60303}
.light-blue{background-color:#aff0dc;color:#00567f;border-color:#07dc9a}
.light-blue a,.light-blue i{color:#fe2800}
.yellow{background-color:#E8BE11;color:#000;border-color:#A57B00}
.yellow a,.yellow i{color:#de1f44}
.blue{background-color:#3e62d6;color:#EEEEFF;border-color:#19307d}
.blue a,.blue i{color:#0c274d}
.gold{background-color:#a16215;color:#FEF6D5;border-color:#613908}
.gold a,.gold i{color:#3c180b}
.green{background-color:#74a115;color:#003000;border-color:#4C7900}
.green a,.green i{color:#014023}
.olive-green{background-color:#d6d63e;color:#303030;border-color:#9E9E39}
.olive-green a,.olive-green i{color:#8a3d24}
.orange{background-color:#C63513;color:#fff;border-color:#631A0A}
.orange a,.orange i{color:#3f1324}
.purple{background-color:#a1157e;color:#fff;border-color:#550032}
.purple a,.purple i{color:#251136}
.red{background-color:#BE0808;color:#fff;border-color:#730000}
.red a,.red i{color:#000}
.turquoiseblue{background-color:#0F7459;color:#fff;border-color:#006943}
.turquoiseblue a,.turquoiseblue i{color:#235059}
.violet{background-color:#5d15a1;color:#fff;border-color:#1D0361}
.violet a,.violet i{color:#FF69B4}
.deepblue{background-color:#18323f;color:#fff;border-color:#3B3B3B}
.deepblue a,.deepblue i{color:#18b999}
.teal{background-color:#007482;color:#fff;border-color:#004E5F}
.teal a,.teal i{color:#9ac1c0}
.mauve{background-color:#625B56;color:#F2DEA1;border-color:#49423D}
.mauve a,.mauve i{color:#fc7c3d}
.pearl{background-color:#AB998F;color:#092334;border-color:#7E6C62}
.pearl a,.pearl i{color:#7c7241}
.steelblue{background-color:#788794;color:#000;border-color:#42515E}
.steelblue a,.steelblue i{color:#333}
.coffee{background-color:#372E25;color:#DA8585;border-color:#060606}
.coffee a,.coffee i{color:#ebbc31}
.coral{background-color:#FF7F50;color:#711400;border-color:#B83809}
.coral a,.coral i{color:#5f3221}
.crimson{background-color:#DC143C;color:#fff;border-color:#8E0000}
.crimson a,.crimson i{color:#810a22}
.hotpink{background-color:#FF69B4;color:#4b038f;border-color:#B31D68}
.hotpink a,.hotpink i{color:#aa0443}
.indianred{background-color:#cd5c5c;color:#000;border-color:#8C1B1B}
.indianred a,.indianred i{color:#73161d}
.aqua{background-color:#00ffff;color:#000;border-color:#16ADAD}
.aqua a,.aqua i{color:#0066ff}
.white{ackground-color:#ffffff;color:#000;border-color:#999}
.white a,.white i{color:#f23064}
.grey2{background-color:#ddd;color:#000;border-color:#666}
.grey2 a,.grey2 i{color:#00aaff}

/* round style */
.round-0{border-radius:0}		
.round-1{border-radius:5px}			
.round-2{border-radius:10px}			
.round-3{border-radius:15px}			
.round-4{border-radius:15px}	
.round-5{border-radius:0;border-top-left-radius:5px;border-top-right-radius:5px}			
.round-6{border-radius:0;border-top-left-radius:10px;border-top-right-radius:10px}	
.round-7{border-radius:0;border-top-left-radius:15px;border-top-right-radius:15px}	
.round-8{border-radius:0;border-top-left-radius:20px;border-top-right-radius:20px}
.round-9{border-radius:10px;border-top-left-radius:0}
.round-10{border-radius:10px;border-top-left-radius:0;border-top-right-radius:0}
.round-11{border-radius:0;border-bottom-left-radius:10px}
.round-12{border-radius:0;border-bottom-right-radius:10px}
.round-13{border-radius:0;border-top-left-radius:10px}
.round-14{border-radius:0;border-top-right-radius:10px}
.round-15{border-radius:0;border-top-left-radius:5px;border-bottom-left-radius:5px}		
.round-16{border-radius:0;border-top-right-radius:5px;border-bottom-right-radius:5px}	
.round-circle{border-radius:10000px}	
.circle{border-radius:50%}

/* text shadow */
.text-shadow-1{text-shadow:0.05em 0.05em 0.1em rgba(0,0,0,0.3)}
.text-shadow-2{text-shadow:0 0.05em 0.05em rgba(0,0,0,0.4), 0 0.1em 0.15em rgba(0,0,0,0.1), 0 0.2em 0.25em rgba(0,0,0,0.1)}
.text-shadow-3{text-shadow:0.05em 0.05em 0 rgba(0,0,0,0.9), 0.1em 0.1em 0 rgba(255,255,255,0.2)}
.text-shadow-4{text-shadow:0.05em 0.05em 0 rgba(255,255,255,0.9), 0.1em 0.1em 0 rgba(0,0,0,0.2)}
.text-shadow-5{text-shadow:0 0.05em 0 #b2a98f,0px 0.2em 0.1em rgba(0,0,0,0.15),0 0.3em 0.03em rgba(0,0,0,0.1),0 0.4em 0.4em rgba(0,0,0,0.1)}

/*button*/
.button{
display:inline-block;*zoom:1;*display:inline;padding:2px 10px;
font-size:1em;text-align:center;text-decoration:none;white-space:nowrap;
border-width:1px;border-style:solid;
/* box-shadow:0px 1px 2px rgba(0,0,0,.2);-webkit-box-shadow:0px 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0px 1px 2px rgba(0,0,0,.2); */
}

button.button:hover,a.button:hover,input.button:hover,button.button:focus,a.button:focus,input.button:focus{text-decoration:none;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.8;cursor:pointer}
button.button:active,a.button:active,input.button:active{position:relative;top:1px;text-decoration:none;filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;cursor:pointer}
.button{display: inline-block;padding:0.5em 1em;font-size:100%;line-height:1;box-shadow:none !important}

/* user-background */
.user-background-1{background-color:#f5f4f7;border-color:#eeeef2;color:#222}
.user-background-2{background-color:#90999a;border-color:#eee;color:#fff}
.user-background-3{background-color:#9e9e9e;border-color:#eee;color:#fff}
.user-background-4{background-color:#8d9ea0;border-color:#eee;color:#fff}
.user-background-5{background-color:#9cc9cf;border-color:#9cc9cf;color:#fff}

.background-alpha-black-1{z-index:1;background:rgba(0,0,0,0.5) !important}


/* user-color */
.user-color-0{color:#000}
.user-color-1{color:#fff}
.user-color-2{color:#888}
.user-color-3{color:#6f9cea}

.user-btn-color1,.user-btn-hover1:hover,.user-btn-hover1:focus{background-color:#7d7d7d;color:#fff;border-color:#7d7d7d;text-shadow:none}
.user-btn-color1 a,.user-btn-color1 i{co1lor:#fc7c3d;text-shadow:none}
.user-btn-color2,.user-btn-hover2:hover,.user-hover2:focus{background-color:#fff;color:#333;border-color:#ccc;text-shadow:none}
.user-btn-color2 a,.user-btn-color2 i{co1lor:#aa0443;text-shadow:none}

