@charset "utf-8";

/* ==================================================== */
/* Never Modify It!! */
/* ==================================================== */

.m9_editor_box br{display:inline}
.m9_editor_box br.m-only-br{display:none}
.m9_editor_box br.e-only-br{display:none}
.m9_editor_box br.all-br{display:inline !important}

/* 사용자 정의 */
.strong-1{background:red;color:#fff;padding:0.2%;line-height:200%}
.strong-2{background:#333;color:#fff;padding:0.2%;line-height:200%}
.strong-3{background:orange;color:#fff;padding:0.2%;line-height:200%}

.text-decoration-1{padding:0.2%;border-bottom:1px dashed #333;line-height:200%}
.text-decoration-2{padding:0.2%;border-bottom:1px dotted #333;line-height:200%}
.text-decoration-3{padding:0.2%;border-bottom:3px double #333;line-height:200%}

/* table */
.table-1, .table-2, .table-3, .table-4, .table-5, .table-6{width:100%;border-collapse:collapse;border-spacing:0;text-align:center;table-layout: auto !important;}
.table-1 th, .table-1 td, .table-2 th, .table-2 td, .table-3 th, .table-3 td, .table-4 th, .table-4 td, .table-5 th, .table-5 td, .table-6 th, .table-6 td{padding:14px 12px;font-weight:normal;vertical-align:middle}
.table-1>thead>tr,.table-2>thead>tr,.table-3>thead>tr,.table-4>thead>tr,.table-5>thead>tr,.table-6>thead>tr{background-color:#e0e0e0}
.table-1>tfoot>tr,.table-2>tfoot>tr,.table-3>tfoot>tr,.table-4>tfoot>tr,.table-5>tfoot>tr,.table-6>tfoot>tr{background-color:#f1f1f1}
.table-1>thead>tr>th,.table-1>thead>tr>td, .table-2>thead>tr>th,.table-2>thead>tr>td, .table-3>thead>tr>th,.table-3>thead>tr>td, .table-4>thead>tr>th,.table-4>thead>tr>td, .table-5>thead>tr>th,.table-5>thead>tr>td, .table-6>thead>tr>th,.table-6>thead>tr>td{padding:12px 12px;text-align:center;font-weight:600;font-size:1.1em}
.table-1>tfoot>tr>th,.table-1>tfoot>tr>td, .table-2>tfoot>tr>th,.table-2>tfoot>tr>td, .table-3>tfoot>tr>th,.table-3>tfoot>tr>td, .table-4>tfoot>tr>th,.table-4>tfoot>tr>td, .table-5>tfoot>tr>th,.table-5>tfoot>tr>td, .table-6>tfoot>tr>th,.table-6>tfoot>tr>td{text-align:center;font-weight:bold}
.table-1>tbody>tr>th,.table-2>tbody>tr>th,.table-3>tbody>tr>th,.table-4>tbody>tr>th,.table-5>tbody>tr>th,.table-6>tbody>tr>th{text-align:center;font-weight:bold}
.table-1 > thead > tr, .table-2 > thead > tr, .table-5 > thead > tr, .table-6 > thead > tr {background:#f5f5f5}
.table-1 > tbody > tr > th, .table-2 > tbody > tr > th, .table-3 > tbody > tr > th, .table-4 > tbody > tr > th, .table-5 > tbody > tr > th, .table-6 > tbody > tr > th {font-weight:normal !important}
.table-1 > tfoot > tr, .table-2 > tfoot > tr, .table-3 > tfoot > tr, .table-4 > tfoot > tr, .table-5 > tfoot > tr, .table-6 > tfoot > tr {background:none}

.table-1 tbody th{background:none;}
.table-1 th, .table-1 td{border-width:1px;border-style:solid;border-color:#d0d0d0;box-shadow:inset 1px 0 0 rgba(255,255,255,0.5),inset 0 1px 0 rgba(255,255,255,0.4);}

.table-2 thead tr{border-top:4px solid #4a4a4a;background:#fff ;}
.table-2 > thead > tr:first-child > th{border-bottom:1px solid #4a4a4a;}
.table-2 th, .table-2 td{border-width:1px;border-bottom-style:solid;box-shadow:inset 0 2px 0 rgba(255,255,255,0.2),inset 2px 0 0 rgba(255,255,255,0.1);}
.table-2 tr>th:first-child, .table-2 tr>td:first-child{border-left-style:none}
.table-2 tr:first-child>th, .table-2 tr:first-child>td{border-top-style:solid}

.table-3{border-radius:14px 14px 0px 0px;overflow:hidden;}
.table-3 th, .table-3 td{border:1px solid #dacccd;}
.table-3 > thead > tr{background:#757575 ;color:#fff;}
.table-3 > thead > tr > th{border-color:#656565;}
.table-3 > thead > tr > th:first-child{}
.table-3 > thead > tr > th:last-child{}
.table-3 tr > th:first-child{}
.table-3 tr > th:last-child, .table-3 tr > td:last-child {}
.table-3 tfoot > tr:last-child > th, .table-3 tfoot > tr:last-child > td {}

.table-4{border-top:2px solid #b4b5b7;}
.table-4{border-spacing:0px}
.table-4 th, .table-4 td{border-width:1px;border-bottom-style:solid;border-top-style:none;}
.table-4>tbody>tr:last-child>th,.table-4>tbody>tr:last-child>td{border-bottom-width:1px}
.table-4 > thead > tr{background:#f8f9fb }
.table-4 > thead > tr > th:first-child{background:#f2f3f5 !important}
.table-4>tbody>tr>th:first-child,.table-4>tfoot>tr:first-child>th{background:#f8f9fb }
.table-4>tfoot>tr:first-child>th,.table-4>tfoot>tr:first-child>td{border-top-width:0}
.table-4 tr>th:last-child,.table-4 tr>td:last-child{border-right-width:1px}

.table-5{border:6px solid #ececec}
.table-5 th, .table-5 td{border-top-width:1px;border-left-width:1px;border-style:solid;border-color:#ececec;}
.table-5 > thead > tr{background:#f6f6f6 ;}
.table-5>thead>tr:first-child>th,.table-5>thead>tr:first-child>td{border-top-width:0px;}
.table-5 tr>th:first-child{border-left-width:0px;}

.table-6 > thead > tr,.table-6 > tfoot > tr{background-color:#fff }
.table-6{border-top:2px solid #4a4a4a;border-bottom:2px solid #4a4a4a;}
.table-6 th, .table-6 td{border-width:1px;border-style:solid;border-color:#d0d0d0;}
.table-6>tbody>tr>th,.table-6>tbody>tr>td{border-top-width:1px;border-top-style:solid}
.table-6>tbody>tr:first-child>th,.table-6>tbody>tr:first-child>td{border-top-width:1px;border-top-style:solid;border-top-color:#4a4a4a}
.table-6>tbody>tr:last-child>th,.table-6>tbody>tr:last-child>td{border-bottom-width:1px;border-bottom-style:solid;}
.table-6 tr>th:first-child{border-right-width:1px;border-right-style:solid;border-right-color:#d0d0d0;}

.table-2 tbody tr:nth-child(odd){background-color:#fff}
.table-2 tbody tr:nth-child(even){background-color:#f5f5f5}
.table-4 tbody tr:nth-child(odd){background-color:transparent} 
.table-4 tbody tr:nth-child(even){background-color:transparent}
.table-5 tbody tr:nth-child(odd){background-color:transparent}
.table-5 tbody tr:nth-child(even){background-color:transparent}
.table-6 tbody tr:nth-child(odd){background-color:transparent}
.table-6 tbody tr:nth-child(even){background-color:transparent}

/* 글꼴크기 */
.f-huge{font-size:6em}
.f-big{font-size:4.5em}
.f-xxxlarge{font-size:2.25em}
.f-xxlarge{font-size:1.75em}
.f-xlarge{font-size:1.45em}
.f-large{font-size:1.16em}
.f-size{font-size:1em}
.f-small{font-size:0.875em}
.f-xsmall{font-size:0.75em}

/* font-weight */
.font-weight-100,.weight-100{font-weight:100}
.font-weight-200,.weight-200{font-weight:200}
.font-weight-300,.weight-300{font-weight:300}
.font-weight-400,.weight-400{font-weight:400}
.font-weight-500,.weight-500{font-weight:500}
.font-weight-600,.weight-600{font-weight:600}
.font-weight-700,.weight-700{font-weight:700}
.font-weight-800,.weight-800{font-weight:800}
.font-weight-900,.weight-900{font-weight:900}

/* font-style */
.font-italic,.italic{font-style:italic}

/* text-decoration */
.text-decoration-underline,.underline{text-decoration:underline} 
.text-decoration-overline,.overline {text-decoration:overline} 
.text-decoration-line-through,.line-through {text-decoration:line-through} 

/* line-height */
.line-height-0{line-height:0}
.line-height-100{line-height:1}
.line-height-110{line-height:1.1}
.line-height-120{line-height:1.2}
.line-height-130{line-height:1.3}
.line-height-140{line-height:1.4}
.line-height-150{line-height:1.5}
.line-height-160{line-height:1.6}
.line-height-170{line-height:1.7}
.line-height-180{line-height:1.8}
.line-height-190{line-height:1.9}
.line-height-200{line-height:2}

/* text-align,vertical-align */
.text-align-left,.left{text-align:left}
.text-align-center,.center{text-align:center}
.text-align-right,.right{text-align:right}
.text-align-justify,.justify{text-align:justify}
.vertical-align-top,.top{vertical-align:top}
.vertical-align-middle,.middle{vertical-align:middle}
.vertical-align-bottom,.bottom{vertical-align:bottom}

/* float & clear */
.float-left{float:left}
.float-right{float:right}
.float-none{float:none;clear:both}
.clear-both,.clear{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.after-clear:after,.after-clear-both:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}

/* overflow */
.visibility-hidden{visibility:hidden}
.overflow-hidden{overflow:hidden}
.overflow-initial{overflow:initial}

/* border */
.border-0{border-width:0}
.border-top-0{border-top-width:0}
.border-right-0{border-right-width:0}
.border-bottom-0{border-bottom-width:0}
.border{border-width:1px;border-style:solid;border-color:#ccc}
.border-top{border-top-width:1px;border-style:solid;border-color:#ccc}
.border-left{border-left-width:1px;border-style:solid;border-color:#ccc}
.border-bottom{border-bottom-width:1px;border-style:solid;border-color:#ccc}
.border-right{border-right-width:1px;border-style:solid;border-color:#ccc}
.border-left-0{border-left-width:0}

/* margin */
.margin-0{margin:0}
.margin-1{margin:1em}
.margin-2{margin:2em}
.margin-3{margin:3em}
.margin-width-0{margin-left:0;margin-right:0}
.margin-width-1{margin-left:1em;margin-right:1em}
.margin-width-2{margin-left:2em;margin-right:2em}
.margin-width-3{margin-left:3em;margin-right:3em}
.margin-height-0{margin-top:0;margin-bottom:0}
.margin-height-1{margin-top:1em;margin-bottom:1em}
.margin-height-2{margin-top:2em;margin-bottom:2em}
.margin-height-3{margin-top:3em;margin-bottom:3em}
.margin-top-0{margin-top:0}
.margin-top-1{margin-top:1em}
.margin-top-2{margin-top:2em}
.margin-top-3{margin-top:3em}
.margin-right-0{margin-right:0}
.margin-right-1{margin-right:1em}
.margin-right-2{margin-right:2em}
.margin-right-3{margin-right:3em}
.margin-bottom-0{margin-bottom:0}
.margin-bottom-1{margin-bottom:1em}
.margin-bottom-2{margin-bottom:2em}
.margin-bottom-3{margin-bottom:3em}
.margin-left-0{margin-left:0}
.margin-left-1{margin-left:1em}
.margin-left-2{margin-left:2em}
.margin-left-3{margin-left:3em}

/* padding */
.padding-0{padding:0}
.padding-1{padding:1em}
.padding-2{padding:2em}
.padding-3{padding:3em}
.padding-width-0{padding-left:0;padding-right:0}
.padding-width-1{padding-left:1em;padding-right:1em}
.padding-width-2{padding-left:2em;padding-right:2em}
.padding-width-3{padding-left:3em;padding-right:3em}
.padding-height-0{padding-top:0;padding-bottom:0}
.padding-height-1{padding-top:1em;padding-bottom:1em}
.padding-height-2{padding-top:2em;padding-bottom:2em}
.padding-height-3{padding-top:3em;padding-bottom:3em}
.padding-top-0{padding-top:0}
.padding-top-1{padding-top:1em}
.padding-top-2{padding-top:2em}
.padding-top-3{padding-top:3em}
.padding-right-0{padding-right:0}
.padding-right-1{padding-right:1em}
.padding-right-2{padding-right:2em}
.padding-right-3{padding-right:3em}
.padding-bottom-0{padding-bottom:0}
.padding-bottom-1{padding-bottom:1em}
.padding-bottom-2{padding-bottom:2em}
.padding-bottom-3{padding-bottom:3em}
.padding-left-0{padding-left:0}
.padding-left-1{padding-left:1em}
.padding-left-2{padding-left:2em}
.padding-left-3{padding-left:3em}

/* 스케일 */
.zoom-10{zoom:10%}
.zoom-20{zoom:20%}
.zoom-30{zoom:30%}
.zoom-40{zoom:40%}
.zoom-50{zoom:50%}
.zoom-60{zoom:60%}
.zoom-70{zoom:70%}
.zoom-80{zoom:80%}
.zoom-90{zoom:90%}
.zoom-100{zoom:100%}

/* width/height */
.width-20{width:20%}
.width-25{width:25%}
.width-30{width:30%}
.width-33{width:33.333%}
.width-40{width:40%}
.width-50{width:50%}
.width-66{width:66.664%}
.width-80{width:80%}
.width-100{width:100%}
.width-auto{width:auto}
.height-100{height:100%}
.height-auto{height:auto}
.min-width-auto{min-width:auto}
.min-height-auto{min-height:auto}

/* grid */
.grid-block{width:100%}
[class*="grid-"]{width:100%;max-width:100%;margin:0 auto}
.grid-block>[class*="grid-"]{max-width:1200px}
[class*="grid-"]:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
[class*="grid-"]>[class*="column-"]{position:relative;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* grid 1%간격 */
[class*="grid-"]>[class*="column-"]{margin:1% 1%}
.grid-2>.column-1{width:49%;*margin:1% 0.9%}
.grid-3>.column-1{width:32%;*margin:1% 0.9%}
.grid-3>.column-2{width:66%}
.grid-4>.column-1{width:23.5%;*margin:1% 0.9%}
.grid-4>.column-2{width:49%;*margin:1% 0.9%}
.grid-4>.column-3{width:74.5%}
.grid-5>.column-1{width:18.4%;*margin:1% 0.9%}
.grid-5>.column-2{width:38.8%}
.grid-5>.column-3{width:59.2%;*margin:1% 0.9%}
.grid-5>.column-4{width:79.6%}
.grid-6>.column-1{width:15%}
.grid-6>.column-2{width:32%}
.grid-6>.column-3{width:49%}
.grid-6>.column-4{width:66%}
.grid-6>.column-5{width:83%}
.grid-1>.column-1,.grid-2>.column-2,.grid-3>.column-3,.grid-4>.column-4,.grid-5>.column-5,.grid-6>.column-6{width:100%;float:none;margin:1% 0}

/* grid 간격없음 */
[class*="grid-"].spacing-0>[class*="column-"]{margin:0}
.grid-2.spacing-0>.column-1{width:50%;*width:49.9%}
.grid-3.spacing-0>.column-1{width:33.333%}
.grid-3.spacing-0>.column-2{width:66.666%}
.grid-4.spacing-0>.column-1{width:25%;*width:24.99%}
.grid-4.spacing-0>.column-2{width:50%;*width:49.99%}
.grid-4.spacing-0>.column-3{width:75%}
.grid-5.spacing-0>.column-1{width:20%;*width:19.9%}
.grid-5.spacing-0>.column-2{width:40%}
.grid-5.spacing-0>.column-3{width:60%}
.grid-5.spacing-0>.column-4{width:80%}
.grid-6.spacing-0>.column-1{width:16.666%}
.grid-6.spacing-0>.column-2{width:33.333%}
.grid-6.spacing-0>.column-3{width:49.999%}
.grid-6.spacing-0>.column-4{width:66.664%}
.grid-6.spacing-0>.column-5{width:83.33%}
.grid-1.spacing-0>.column-1,.grid-2.spacing-0>.column-2,.grid-3.spacing-0>.column-3,.grid-4.spacing-0>.column-4,.grid-5.spacing-0>.column-5,.grid-6.spacing-0>.column-6{width:100%;float:none;margin:0}

/* grid 1%간격 */
[class*="grid-"].spacing-1>[class*="column-"]{margin:1% 1%}
.grid-2.spacing-1>.column-1{width:49%;*margin:1% 0.9%}
.grid-3.spacing-1>.column-1{width:32%;*margin:1% 0.9%}
.grid-3.spacing-1>.column-2{width:66%}
.grid-4.spacing-1>.column-1{width:23.5%;*margin:1% 0.9%}
.grid-4.spacing-1>.column-2{width:49%;*margin:1% 0.9%}
.grid-4.spacing-1>.column-3{width:74.5%}
.grid-5.spacing-1>.column-1{width:18.4%;*margin:1% 0.9%}
.grid-5.spacing-1>.column-2{width:38.8%}
.grid-5.spacing-1>.column-3{width:59.2%;*margin:1% 0.9%}
.grid-5.spacing-1>.column-4{width:79.6%}
.grid-6.spacing-1>.column-1{width:15%}
.grid-6.spacing-1>.column-2{width:32%}
.grid-6.spacing-1>.column-3{width:49%}
.grid-6.spacing-1>.column-4{width:66%}
.grid-6.spacing-1>.column-5{width:83%}
.grid-1.spacing-1>.column-1,.grid-2.spacing-1>.column-2,.grid-3.spacing-1>.column-3,.grid-4.spacing-1>.column-4,.grid-5.spacing-1>.column-5,.grid-6.spacing-1>.column-6{width:100%;float:none;margin:1% 0}

/* grid 4%간격 */
[class*="grid-"].spacing-2>[class*="column-"]{margin:4% 4%}
.grid-2.spacing-2>.column-1{width:46%;*margin:4% 3.9%}
.grid-3.spacing-2>.column-1{width:28%;*margin:4% 3.9%}
.grid-3.spacing-2>.column-2{width:64%}
.grid-4.spacing-2>.column-1{width:19%;*margin:4% 3.9%}
.grid-4.spacing-2>.column-2{width:46%;*margin:4% 3.9%}
.grid-4.spacing-2>.column-3{width:73%}
.grid-5.spacing-2>.column-1{width:13.6%;*margin:4% 3.9%}
.grid-5.spacing-2>.column-2{width:35.2%}
.grid-5.spacing-2>.column-3{width:56.8%;*margin:4% 3.9%}
.grid-5.spacing-2>.column-4{width:78.4%}
.grid-6.spacing-2>.column-1{width:10%}
.grid-6.spacing-2>.column-2{width:20%}
.grid-6.spacing-2>.column-3{width:30%}
.grid-6.spacing-2>.column-4{width:40%}
.grid-6.spacing-2>.column-5{width:50%}
.grid-1.spacing-2>.column-1,.grid-2.spacing-2>.column-2,.grid-3.spacing-2>.column-3,.grid-4.spacing-2>.column-4,.grid-5.spacing-2>.column-5,.grid-6.spacing-2>.column-6{width:100%;float:none;margin:4% 0}

.column-first{margin-left:0 !important}
.column-last{margin-right:0 !important}

/* float2N  */
[class*="float2N-"]{width:100%;list-style:none;padding:0}
[class*="float2N-"]:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
[class*="float2N-"]>*{width:100%;float:left;margin:0}

[class*="float2N-"].spacing-1>*{margin:1% 1%}
[class*="float2N-"].spacing-2>*{margin:2% 2%}
[class*="float2N-"].spacing-3>*{margin:3% 3%}

.float2N-1>*:nth-child(n){clear:both}
.float2N-2>*:nth-child(2n+1){clear:both}
.float2N-3>*:nth-child(3n+1){clear:both}
.float2N-4>*:nth-child(4n+1){clear:both}
.float2N-5>*:nth-child(5n+1){clear:both}
.float2N-6>*:nth-child(6n+1){clear:both}

.float2N-1>*:nth-child(n){margin-left:0;margin-right:0}
.float2N-2>*:nth-child(2n+1){margin-left:0}
.float2N-2>*:nth-child(2n+2){margin-right:0}
.float2N-3>*:nth-child(3n+1){margin-left:0}
.float2N-3>*:nth-child(3n+3){margin-right:0}
.float2N-4>*:nth-child(4n+1){margin-left:0}
.float2N-4>*:nth-child(4n+4){margin-right:0}
.float2N-5>*:nth-child(5n+1){margin-left:0}
.float2N-5>*:nth-child(5n+5){margin-right:0}
.float2N-6>*:nth-child(6n+1){margin-left:0}
.float2N-6>*:nth-child(6n+6){margin-right:0}

.float2N-1>*{width:100%}
.float2N-2>*{width:50%}
.float2N-3>*{width:33.33333%;*width:33.2%}
.float2N-4>*{width:25%;*width:24.99%}
.float2N-5>*{width:20%;*width:19.9%}
.float2N-6>*{width:16.6666%}

.float2N-1.spacing-1>*{width:100%}
.float2N-2.spacing-1>*{width:49%;*width:48%}
.float2N-3.spacing-1>*{width:32%;*width:31.2999%}
.float2N-4.spacing-1>*{width:23.5%}
.float2N-5.spacing-1>*{width:18.4%;*width:18.4%}
.float2N-6.spacing-1>*{width:15%}
.float2N-1.spacing-2>*{width:100%}
.float2N-2.spacing-2>*{width:48%}
.float2N-3.spacing-2>*{width:30.666%}
.float2N-4.spacing-2>*{width:22%}
.float2N-5.spacing-2>*{width:16.8%}
.float2N-6.spacing-2>*{width:13.33333%}
.float2N-1.spacing-3>*{width:100%}
.float2N-2.spacing-3>*{width:47%}
.float2N-3.spacing-3>*{width:29.3%}
.float2N-4.spacing-3>*{width:20.5%}
.float2N-5.spacing-3>*{width:15.2%}
.float2N-6.spacing-3>*{width:11.666%}

/* list-style */
ul[class*="list-style-"],ol[class*="list-style-"]{text-align:left;line-height:1.4;counter-reset:step-counter;margin:0;padding:0}
ul[class*="list-style-0"],ol[class*="list-style-0"]{text-align:inherit;padding:0}
ul[class*="list-style-"]>li{position:relative;display:block;padding:0.2em;padding-left:1.2em; margin:0}
ul[class*="list-style-"]>li:before{position:absolute;top:0;left:0;padding:0.2em}
ul[class*="list-style-0"]>li{padding:0;margin:0}
ul[class~="list-style-0"]>li:before{display:none}
ul[class~="list-style-1"]>li:before{content:"▪"}
ul[class~="list-style-2"]>li:before{content:"-";left:0.2em}
ul[class~="list-style-3"]>li:before{content:"•";left:0.2em}
ul[class~="list-style-4"]>li,ul[class~="list-style-5"]>li,ul[class~="list-style-6"]>li,ul[class~="list-style-7"]>li{padding-left:1.6em}
ul[class~="list-style-4"]>li:before{content:"\e6b0";margin-top:-0.1em;font-family:'axicon';font-size:1.2em}
ul[class~="list-style-5"]>li:before{content:"\f046";margin-top:-0.1em;font-family:'axicon';font-size:1.2em}
ul[class~="list-style-6"]>li:before{content:"\f14a";margin-top:-0.1em;font-family:'axicon';font-size:1.2em}
ul[class~="list-style-7"]>li:before{content:"\f056";margin-top:-0.1em;font-family:'axicon';font-size:1.2em}
ol[class*="list-style-"]>li{position:relative;display:block;padding:0.2em;padding-left:2.0em;counter-increment:step-counter; margin:0}
ol[class*="list-style-"]>li:before{position:absolute;top:0;left:0;display:inline-block;width:1.5em;height:1.4em;line-height:1.4em;margin-top:0.3em;font-size:0.9em;font-weight:normal;text-align:center}
ol[class*="list-style-0"]>li{padding:0;margin:0}
ol[class~="list-style-0"]>li:before{display:none}
ol[class~="list-style-1"]>li:before{content:counter(step-counter);color:#fff;background-color:#c8c8c8;border-radius:3px}
ol[class~="list-style-2"]>li:before{content:counter(step-counter);width:1.4em;height:1.4em;line-height:1.4em;color:#fff;background-color:#c8c8c8;border-radius:50%}
ol[class~="list-style-3"]>li:before{content:counter(step-counter)".";font-size:1em;padding:0.2em;width:auto;height:auto;margin-top:0}
ol[class~="list-style-4"]>li:before{content:counter(step-counter)")";font-size:1em;padding:0.2em;width:auto;height:auto;margin-top:0}
ol[class~="list-style-5"]>li:before{content:counter(step-counter,upper-alpha)".";font-size:1em;padding:0.2em;width:auto;height:auto;margin-top:0}
ol[class~="list-style-6"]>li:before{content:counter(step-counter,upper-roman)".";font-size:1em;padding:0.2em;width:auto;height:auto;margin-top:0}

/* list-border-style */
[class*="list-border-style-"]>*{position:relative}
[class~="list-border-style-1"]>*:after,[class~="list-border-style-2"]>*:after,[class~="list-border-style-3"]>*:after{content:'';position:absolute;top:0;left:0;display:block;width:100%;height:1px;border-bottom:1px dashed #ccc;font-size:0;line-height:0}
.list-border-style-1>*:after{border-bottom-style:dashed}
.list-border-style-2>*:after{border-bottom-style:solid}
.list-border-style-3>*:after{border-bottom-style:dotted}
[class*="list-border-style-"]>*:nth-child(1):after{display:none}
[class~="float2N-1"][class*="list-border-style-"]>*:nth-child(1):after{display:none}
[class~="float2N-2"][class*="list-border-style-"]>*:nth-child(1):after,[class~="float2N-2"][class*="list-border-style-"]>*:nth-child(2):after{display:none}
[class~="float2N-3"][class*="list-border-style-"]>*:nth-child(1):after,[class~="float2N-3"][class*="list-border-style-"]>*:nth-child(2):after,[class~="float2N-3"][class*="list-border-style-"]>*:nth-child(3):after{display:none}
[class~="float2N-4"][class*="list-border-style-"]>*:nth-child(1):after,[class~="float2N-4"][class*="list-border-style-"]>*:nth-child(2):after,[class~="float2N-4"][class*="list-border-style-"]>*:nth-child(3):after,[class~="float2N-4"][class*="list-border-style-"]>*:nth-child(4):after{display:none}
[class~="float2N-5"][class*="list-border-style-"]>*:nth-child(1):after,[class~="float2N-5"][class*="list-border-style-"]>*:nth-child(2):after,[class~="float2N-5"][class*="list-border-style-"]>*:nth-child(3):after,[class~="float2N-5"][class*="list-border-style-"]>*:nth-child(4):after,[class~="float2N-5"][class*="list-border-style-"]>*:nth-child(5):after{display:none}
[class~="float2N-6"][class*="list-border-style-"]>*:nth-child(1):after,[class~="float2N-6"][class*="list-border-style-"]>*:nth-child(2):after,[class~="float2N-6"][class*="list-border-style-"]>*:nth-child(3):after,[class~="float2N-6"][class*="list-border-style-"]>*:nth-child(4):after,[class~="float2N-6"][class*="list-border-style-"]>*:nth-child(5):after,[class~="float2N-6"][class*="list-border-style-"]>*:nth-child(6):after{display:none}

[class~="float2N-1"][class~="spacing-1"]>*:after{margin-top:-1%}
[class~="float2N-2"][class~="spacing-1"]>*:after{margin-top:-2%}
[class~="float2N-3"][class~="spacing-1"]>*:after{margin-top:-3%}
[class~="float2N-4"][class~="spacing-1"]>*:after{margin-top:-4%}
[class~="float2N-5"][class~="spacing-1"]>*:after{margin-top:-5%}
[class~="float2N-6"][class~="spacing-1"]>*:after{margin-top:-6%}
[class~="float2N-1"][class~="spacing-2"]>*:after{margin-top:-2%}
[class~="float2N-2"][class~="spacing-2"]>*:after{margin-top:-4%}
[class~="float2N-3"][class~="spacing-2"]>*:after{margin-top:-6%}
[class~="float2N-4"][class~="spacing-2"]>*:after{margin-top:-8%}
[class~="float2N-5"][class~="spacing-2"]>*:after{margin-top:-10%}
[class~="float2N-6"][class~="spacing-2"]>*:after{margin-top:-12%}
[class~="float2N-1"][class~="spacing-3"]>*:after{margin-top:-3%}
[class~="float2N-2"][class~="spacing-3"]>*:after{margin-top:-6%}
[class~="float2N-3"][class~="spacing-3"]>*:after{margin-top:-9%}
[class~="float2N-4"][class~="spacing-3"]>*:after{margin-top:-12%}
[class~="float2N-5"][class~="spacing-3"]>*:after{margin-top:-15%}
[class~="float2N-6"][class~="spacing-3"]>*:after{margin-top:-18%}

/* positon */
.position-absolute,.absolute{position:absolute}
.position-relative,.relative{position:relative}
.position-static,.static{position:static}
.position-fixed,.fixed{position:fixed}

/* display */
.display-block,.block{display:block !important}
.display-inline-block,.inline-block{display:inline-block;*display:inline;*zoom:1}
.display-inline,.inline{display:inline}
.display-none,.none{display:none}
.display-table,.table{display:table;width:100%}
.display-table-row,.table-row{display:table-row}
.display-table-cell,.table-cell{display:table-cell}

.from-display-block,.from-block{display:block}
.from-display-inline-block,.from-inline-block{display:inline-block;*display:inline;*zoom:1}
.from-display-inline,.from-inline{display:inline}
.from-display-none,.from-none{display:none}
.m-from-display-block,.m-from-block{display:none}
.m-from-display-inline-block,.m-from-inline-block{display:none}
.m-from-display-inline,.m-from-inline{display:none}
.m-from-display-none,.m-from-none{display:none}
.e-from-display-block,.e-from-block{display:none}
.e-from-display-inline-block,.e-from-inline-block{display:none}
.e-from-display-inline,.e-from-inline{display:none}
.e-from-display-none,.e-from-none{display:none}

.m-from-bold{font-weight:inherit}
.e-from-bold{font-weight:inherit}
.m-from-italic{font-style:normal}
.e-from-italic{font-style:normal}
.m-from-underline{text-decoration:none}
.e-from-underline{text-decoration:none}
.m-from-strikethrough{text-decoration:none}
.e-from-strikethrough{text-decoration:none}
.m-from-superscript{font-size:100%;vertical-align:baseline;vertical-align:-webkit-baseline-middle}
.e-from-superscript{font-size:100%;vertical-align:baseline;vertical-align:-webkit-baseline-middle}
.m-from-subscript{font-size:100%;vertical-align:baseline;vertical-align:-webkit-baseline-middle}
.e-from-subscript{font-size:100%;vertical-align:baseline;vertical-align:-webkit-baseline-middle}

/* 기타 */
.rotate-90{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg)}