@charset "utf-8";



/* common */
*{border-color:#ccc;border-width:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* html, .normalize,.m9_editor,.m9_editor_box{font-family:'Open Sans', sans-serif,'Noto Sans KR',sans-serif,'Nanum Gothic',Gulim,sans-serif;font-size:13px;line-height:1.4;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;letter-spacing:-0.05em;color:inherit} */

/* html, .normalize,.m9_editor,.m9_editor_box{font-family:sans-serif,'Open Sans';font-weight:300;font-size:13px;line-height:1.4;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;letter-sp1acing:-0.05em;color:inherit} */

html,body,div,ul,ol,li,dl,dt,dd,p,input,textarea,select,h1,h2,h3,h4,h5,h6,em,address,fieldset,form,iframe,object,figure{margin:0;padding:0}
html{color:#000} /* 전체 글자색 정의 */
p{line-height:2}
fieldset{border:none}
img,embed,object,video{max-width:100%}
.fullimg{max-width:100%}

li{list-style-type:none}
em,address{font-style:normal}
h1,h2,h3,h4,h5,h6{line-height:1.2}
input[type='checkbox'],input[type='radio']{vertical-align:middle}

a{background:transparent;color:inherit;*color:#333;text-decoration:none}
a:link{text-decoration:none}			/* 보통 상태 */
a:visited{text-decoration:none}		/* 방문했던 상태 */
a:active{text-decoration:none}		/* 방문중인 상태 */
a:hover,a:focus{text-decoration:none}		/* 마우스 올렸을때 */

/* 마우스 드래그 */
::-moz-selection{background:#333;color:#fff}
::-webkit-selection {background:#333;color:#fff}
::selection{background:#333;color:#fff}


.blind{width:0;height:0;overflow:hidden;font-size:0;line-height:0;position:absolute;left:-99999px;top:-99999px}


.js-same-height{visibility:hidden}
.js-same-height:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.slide_empty{border-color:inherit}
._b_c_inherit{border-color:inherit}

.boxSized{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.skip{display:inline-block;*display:inline;*zoom:1;z-index:10;position:absolute;top:0;left:-1200px;border:1px solid #333;padding:10px 20px;background:#00CCCC;font-weight:bold;color:#000;text-align:center;text-decoration:none} /* 바로가기 */


.speech_a{color:#000;cursor:default}
.speech, .speech_b{position:absolute;display:inline-block;*display:inline;*zoom:1;width:0;height:0;overflow:hidden}
.clearboth{display:block;float:none;clear:both;width:100%;height:0;font-size:0} /* display:block ie7 */
.valign{display:inline-block;*zoom:1;*display:inline;width:0;height:100%;vertical-align:middle} /*margin:0 -0.125em*/
.Button_Over{cursor:pointer} /* 마우스 오버시 */


.group_tab{position:relative;border-bottom:1px solid #ccc;height:40px;margin:20px 0}
.group_tab>ul{display:table;top:0;position:relative;z-index:10}
.group_tab>ul>li{display:table-cell;text-align:center;vertical-align:middle;}
.group_tab>ul>li>a{display:inline-block;height:40px;line-height:40px;padding:0 30px;font-size:13px;border:1px solid #ccc;margin-left:-2px;background:#fff;transition-duration:0.3s}
.group_tab>ul>li>a[class='selected'],.group_tab>ul>li>a:hover,.group_tab>ul>li>a:focus{background:#28a8d8;border-color:#28a8d8;position:relative;color:#fff;transition-duration:0.3s}
.group_tab>.board-selectbox{position:absolute;bottom:-1px}

.drop-btn{margin-left:-1px;border:1px solid #ccc;border-left-width:0;background:#fff;width:28px;height:28px;font-size:20px;line-height:20px}

.mobile-menu{display:inline-block;width:100%;border-color:#666}
.mobile-menu>div>a>.selection{border-width:1px;border-style:solid;background:#fff;color:#333;cursor:pointer;font-size:17px}
.mobile-menu>div>a:hover>.selection, .mobile-menu>div>a:focus>.selection{background:#f1f1f1;color:#666}
.mobile-menu>div>a:active>.selection{border-color:#9f151c;background:#fafafa;color:#9f151c}
.mobile-menu>div>a>.selection>div{height:40px}
.mobile-menu>div>a>.selection>.front-icon{float:left;width:40px;border-right-width:1px;border-right-style:solid;text-align:center}
.mobile-menu>div>a>.selection>.text-box{position:relative;overflow:hidden;padding:0 20px;text-align:left}
.mobile-menu>div>a>.selection>.text-box>.end-icon{position:absolute;right:0;top:0;z-index:10;width:40px;height:100%;border-left-width:1px;border-left-style:solid;text-align:center}









/* ======================================================== */
/* 홈페이지 전반에 쓰여지는 CSS Sprites 이미지 [시작] */
/* ======================================================== */
/* 보기모드/내용글크기/SNS 버튼 등 */
.allImg{background:url(http://mong9.com/m9_img/design/page_img.png) no-repeat 0 0}

/* 보기모드 변경 버튼 속성 */
.mode_box{display:inline-block;*zoom:1;*display:inline}
.mode_box li{float:left;display:inline-block;*zoom:1;*display:inline}
.btn_mode0{width:56px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_mode0{width:56px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.btn_mode1{width:56px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_mode1{width:56px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.btn_mode2{width:74px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_mode2{width:74px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.pos_mode0{background-position:0 -100px}
.pos_mode1{background-position:-100px -100px}
.pos_mode2{background-position:-200px -100px}
.btn_guide{width:63px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_guide{width:63px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.pos_guide{background-position:-120px -50px}

/* guide라는 카테고리있으면 에러 */
.btn_mode0_btn{width:56px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_mode0_btn{width:56px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.btn_mode1_btn{width:56px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_mode1_btn{width:56px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.btn_mode2_btn{width:74px;height:20px;display:inline-block;*zoom:1;*display:inline}
.box_mode2_btn{width:74px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.pos_mode0_btn{background-position:0 -100px}
.pos_mode1_btn{background-position:-100px -100px}
.pos_mode2_btn{background-position:-200px -100px}
.box_guide_btn{width:63px;height:20px;display:block;text-indent:-9000px;text-align:left;line-height:20px}
.pos_guide_btn{background-position:-120px -50px}

.mode_window_box, .guide_window_box{width:0;height:0}
#mode_window, #guide_window{position:absolute;z-index:500;display:none;padding:5px}

/* 내용글크기 변환 버튼 속성 */
.contents_control li{float:left}
.btn_fontsize{display:inline-block;*zoom:1;*display:inline;width:28px;height:20px}
.box_fontsize{display:block;width:28px;height:20px;text-indent:-9000px;text-align:left}
.pos_fontsize_plus{background-position:0 -50px}
.pos_fontsize_minus{background-position:-30px -50px}
.pos_fontsize_reset{background-position:-60px -50px}

/* SNS 버튼 속성 */
.sns-container{margin:20px 0}
.sns_btn_box>div{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin-right:3px;height:20px}
.sns_p{margin:0;text-align:right}
.sns_box>li{display:inline-block;*zoom:1;*display:inline;font-size:0}
.btn_sns{display:inline-block;*zoom:1;*display:inline;width:30px;height:30px}
.box_sns{display:block;width:30px;height:30px;text-indent:-9000px;text-align:left;white-space:nowrap;overflow:hidden}
.pos_facebook{background-position:0 0}
.pos_twitter{background-position:-30px 0}
.pos_kakao{background-position:-60px 0}
.pos_kakaostory{background-position:-90px 0}
.pos_qrcode{background-position:-120px 0}
.qr_code_div{position:absolute;z-index:200;display:none;border:1px solid #ccc;background:#fff;width:130px;height:130px}

/* 새창 */
.popup-window{float:left;text-align:left}
.popup-top{padding:5px;background:#000;color:#fff}
.popup-top .title{float:left;margin-top:2px}	
.popup-top .close{float:right}	
.popup-content{padding:5px;border:1px solid #ccc;background:#eaeaea}
.popup-msg{padding:5px}
/* .popup-content p{display:block;border:1px solid #ccc;background:#fff;padding:5px}	 */

.window_controll{background:#000;color:#fff;font-weight:bold;padding:5px} /* height:30px; */
.window_outbox{border:1px solid #ccc;padding:5px;background:#f1f1f1}
.window_onebox{border:1px solid #ccc;padding:5px;background:#fff;margin-bottom:5px}
.window_title{padding:5px;font-weight:bold;border-bottom:1px solid #ccc;font-size:10pt}
.window_contents{padding:5px 0 5px 10px;font-size:9pt}
.window_ul{padding-left:20px}
.window_ul li{font-size:8pt;color:#CC6600}


/* ======================================================== */
/* 홈페이지 전반에 쓰여지는 CSS Sprites 이미지 [끝] */
/* ======================================================== */






/* 통합게시판 박스 기본 스타일 */
.board_total_box{position:relative;font-size:1em;text-align:right}
.board_total_box:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.board_total_box>table{width:100%;border-collapse:collapse;border-spacing:0}
.board_total_box tbody tr:nth-child(odd){background-color:transparent}
.board_total_box tbody tr:nth-child(even){background-color:transparent}
.board_total_box th, .board_total_box td{height:25px;font-weight:normal;text-align:center;border-top-width:1px;border-top-style:dashed;border-top-color:rgba(0,0,0,0.1)}	
.board_total_box tbody tr:first-child th, .board_total_box tbody tr:first-child td{border-top-width:0}
.board_total_box th.no, .board_total_box td.no{width:30px;text-align:center}
.board_total_box th.title, .board_total_box td.title{padding:0 5px;text-align:left;word-break:break-all;overflow:hidden; text-overflow:ellipsis}
.board_total_box th.title>a:hover, .board_total_box td.title>a:hover{text-decoration:underline}
.board_total_box th.name, .board_total_box td.name{width:60px}
.board_total_box th.num, .board_total_box td.num{width:50px}
.board_total_box th.date, .board_total_box td.date{width:50px} 	
.board_total_box th.file_list, .board_total_box td.file_list{width:50px} 	
.board_total_box th.count, .board_total_box td.count{width:50px} 	
.board_total_box span.more{margin:5px 0}
.board_total_box span.more>a:hover{text-decoration:underline}

/* 갤러리 박스 기본 스타일 */
.gallery_box{position:relative;text-align:right}
.gallery_box .one-cell{position:relative}
.one-cell>.img{position:relative;display:block;text-align:center;vertical-align:middle;font-size:0;overflow:hidden;float:none;width:auto;height:auto;margin:0}
.one-cell>.img>a>img{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transition:transform 0.3s;-webkit-transition:transform 0.3s;-moz-transition:transform 0.3s;-o-transition:transform 0.3s}
.one-cell:hover>.img>a>img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1)}
.one-cell>.img>.img_btn_box{position:absolute;z-index:1;bottom:0;right:0;padding:20px 0 5px 20px;block;font-family:gulim;font-size:12px;color:#373737}
.one-cell>.img>.img_btn_box>span{float:left;display:inline-block;*display:inline;*zoom:1}
.one-cell>.img>.img_btn_box>span>a{display:inline-block;*display:inline;*zoom:1;height:25px;line-height:25px;text-align:center;text-decoration:none;margin:0 5px 0 0;background:#fff;box-shadow:0px 1px 2px 0px rgba(0,0,0,0.2), 0px 0px 1px 0px rgba(0,0,0,0.2);border-radius:3px}
.one-cell>.img>.img_btn_box>span>a:hover,.one-cell>.img>.img_btn_box>span>a:focus{text-decoration:none;background:red;color:#fff}
.one-cell>.img>.img_btn_box>span>a>i{font-size:13px;vertical-align:middle}
.one-cell>.img>.img_btn_box>.sclae_btn{width:30px}
.one-cell>.img>.img_btn_box>.sclae_btn>a{width:25px}
.one-cell>.img>.img_btn_box>.other_view_btn{min-width:40px}
.one-cell>.img>.img_btn_box>.other_view_btn>a{min-width:35px}
.one-cell>.img>.img_btn_box>.other_view_btn>a>i{margin-right:2px}
.one-cell>.group_contents{position:absolute;top:5px;left:5px;display:inline-block;*display:inline;*zoom:1;padding:3px 6px;background:#000;color:#fff;font-size:12px;border-radius:3px}
.one-cell>.group_contents>.key{width:0;height:0;overflow:hidden;font-size:0;line-height:0;position:absolute;left:-99999px;top:-99999px} /* 감추기 */
.one-cell>.content_area{position:relative;padding:0 5px;color:#5d5d5d}
.one-cell>.content_area>span{padding-top:10px}
.one-cell>.content_area>.title{position:absolute;display:block;width:50%;overflow:hidden;padding:7px 0 0 0;margin:0;text-align:left;white-space:nowrap;text-overflow:ellipsis}
.one-cell>.content_area>.title>a{font-family:'Nanum Gothic',Gulim,sans-serif;font-weight:normal;font-size:13px;color:#333;text-decoration:none}
.one-cell>.content_area>.title>a:hover,.gallery_box .title>a:focus{color:red;text-decoration:underline}
.one-cell>.content_area>.contents{display:block;overflow:hidden;padding:5px;text-align:left;background:#ccc}
.one-cell>.content_area>.count{display:inline-block;*display:inline;*zoom:1;margin-left:20px}
.one-cell>.content_area>.count>.key{display:inline-block;*display:inline;*zoom:1;padding:0;font-size:0;vertical-align:middle;margin-right:5px}
.one-cell>.content_area>.count>.key:after{font-family:axicon;font-size:14px;content:"\e729"}
.one-cell>.content_area>.recommend{display:inline-block;*display:inline;*zoom:1;margin-left:20px}
.one-cell>.content_area>.recommend>.key{display:inline-block;*display:inline;*zoom:1;padding:0;font-size:0;vertical-align:middle;margin-right:5px}
.one-cell>.content_area>.recommend>.key:after{font-family:axicon;font-size:14px;content:"\f004"}




/* 텝박스 */	
.tab-btn-on{z-index:5;font-size:100%;color:#000;font-weight:800;text-decoration:none !important;text-align:center;line-height:42px;text-shadow:0px 1px 0px #fff;background-color:#fff;cursor:pointer}
.tab-btn-off{z-index:3;font-size:100%;color:#333;font-weight:800;text-decoration:none !important;text-align:center;line-height:42px;text-shadow:0px 1px 0px #fff;background:#eee;cursor:pointer}
.tab-content{z-index:4;padding:10px;background:#fff;border-width:1px;border-style:solid;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;visibility:hidden}

/*tab-1 basic*/
.tab-1.basic{width:100%;min-height:50px}
.tab-1.basic:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.basic>ul{position:relative}
.tab-1.basic>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.basic>ul>li{float:left;display:inline-block;*display:inline;*zoom:1}
.tab-1.basic>ul>li>a{
	position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:-1px;border-width:1px;border-style:solid;
	border-bottom-width:0;background:#fff;border:1px solid #ddd;
}
.tab-1.basic .tab-btn-on{border:1px solid #ccc;border-bottom:0;}
.tab-1.basic .tab-btn-off{color:#777;}
.tab-1.basic .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-1.basic .tab-content{position:absolute;top:41px;left:0;display:block;min-width:100%;min-height:100%;border:0;border-top:1px solid #ccc} 

/*tab-1 tab-style-1*/
.tab-1.tab-style-1{width:100%;min-height:50px}
.tab-1.tab-style-1:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-1>ul{position:relative}
.tab-1.tab-style-1>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-1>ul>li{float:left;display:inline-block;*display:inline;*zoom:1}
.tab-1.tab-style-1>ul>li>a{
	position:relative;display:block;min-width:120px;height:42px;padding:0;
	margin-right:2px;border:0px;background:#fff;border-top-left-radius:5px;border-top-right-radius:5px;
}
.tab-1.tab-style-1 .tab-btn-on{border:1px solid #333;border-bottom:0;}
.tab-1.tab-style-1 .tab-btn-off{color:#777}
.tab-1.tab-style-1 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-1.tab-style-1 .tab-content{position:absolute;top:41px;left:0;display:block;min-width:100%;min-height:100%;border:0px solid #ddd;border-top:1px solid #333;}

/*tab-1 tab-style-2*/
.tab-1.tab-style-2{width:100%;min-height:50px}
.tab-1.tab-style-2:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-2>ul{position:relative}
.tab-1.tab-style-2>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-2>ul>li{float:left;display:inline-block;*display:inline;*zoom:1}
.tab-1.tab-style-2>ul>li>a{position:relative;display:block;min-width:200px;height:42px;padding:0;margin-right:0px;border-width:1px;border-style:solid;border-bottom-width:0;background:#fff}
.tab-1.tab-style-2 .tab-btn-on{border:0;border-bottom:4px solid #ff6600;color:#ff6600}
.tab-1.tab-style-2 .tab-btn-off{color:#777;border:0}
.tab-1.tab-style-2 .tab-btn-off:hover{border-bottom:4px solid #ccc;color:#333;background:none}
.tab-1.tab-style-2 .tab-content{position:absolute;top:41px;left:0;display:block;min-width:100%;min-height:100%;border:0;border-top:1px solid #ddd} 

/*tab-1 tab-style-3*/
.tab-1.tab-style-3{width:100%;min-height:50px;}
.tab-1.tab-style-3:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-3>ul{position:relative}
.tab-1.tab-style-3>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-3>ul>li{float:left;display:inline-block;*display:inline;*zoom:1}
.tab-1.tab-style-3>ul>li>a{position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:4px;border-width:1px;border-style:solid;border-bottom-width:0;background:#eee}
.tab-1.tab-style-3 .tab-btn-on{border:0;border:1px solid #ff6600;color:#ff6600;background:#fff}
.tab-1.tab-style-3 .tab-btn-off{color:#777;border:0}
.tab-1.tab-style-3 .tab-btn-off:hover{}
.tab-1.tab-style-3 .tab-content{position:absolute;top:48px;left:0;display:block;min-width:100%;min-height:100%;border:0;border-top:1px solid #ddd} 

/*tab-1 tab-style-4*/
.tab-1.tab-style-4{width:100%;min-height:50px}
.tab-1.tab-style-4:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-4>ul{position:relative}
.tab-1.tab-style-4>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-1.tab-style-4>ul>li{float:left;display:inline-block;*display:inline;*zoom:1}
.tab-1.tab-style-4>ul>li>a{position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:1px;background:#fff;border:0;text-shadow:none;}
.tab-1.tab-style-4 .tab-btn-on{border-bottom:0;background:#e64d3f;color:#fff;}
.tab-1.tab-style-4 .tab-btn-off{color:#777;background:#eee;}
.tab-1.tab-style-4 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-1.tab-style-4 .tab-content{position:absolute;top:41px;left:0;display:block;min-width:100%;min-height:100%;border:0;border-top:1px solid #e64d3f;} 



/*tab-2 basic*/
.tab-2.basic{padding-left:120px}
.tab-2.basic:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.basic>ul{position:relative}
.tab-2.basic>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.basic>ul>li{float:none}
.tab-2.basic>ul>li>a{position:relative;display:block;width:120px;margin-bottom:-1px;padding:0 10px;margin-left:-120px;background:none;text-shadow:none;border:1px solid #ddd;}
.tab-2.basic>ul>li:last-child>a{margin-bottom:0;}
.tab-2.basic .tab-btn-on{border:1px solid #ccc; border-right:1px solid #fff;}
.tab-2.basic .tab-btn-off{color:#777;}
.tab-2.basic .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-2.basic .tab-content{position:absolute;top:0;left:-1px;display:block;width:100%;min-height:100%;border:1px solid #ccc;}

/*tab-2 tab-style-1*/
.tab-2.tab-style-1{padding-left:120px}
.tab-2.tab-style-1:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-1>ul{position:relative}
.tab-2.tab-style-1>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-1>ul>li{float:none}
.tab-2.tab-style-1>ul>li>a{
	position:relative;display:block;width:120px;margin-bottom:4px;padding:0 10px;margin-left:-120px;
	border-right-width:0;background:none;text-shadow:none;border:1px solid #ddd;border-top-left-radius:5px; border-bottom-left-radius:5px;
}
.tab-2.tab-style-1>ul>li:last-child>a{margin-bottom:0;}
.tab-2.tab-style-1 .tab-btn-on{border:1px solid #333; border-right:1px solid #fff;}
.tab-2.tab-style-1 .tab-btn-off{color:#777;border:0;}
.tab-2.tab-style-1 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-2.tab-style-1 .tab-content{position:absolute;top:0;left:-1px;display:block;width:100%;min-height:100%;border:1px solid #333;border-top-right-radius:10px;border-bottom-right-radius:10px;}

/*tab-2 tab-style-2*/
.tab-2.tab-style-2{padding-left:120px}
.tab-2.tab-style-2:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-2>ul{position:relative;}
.tab-2.tab-style-2>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-2>ul>li{float:none;}
.tab-2.tab-style-2>ul>li>a{
	position:relative;display:block;width:120px;margin-bottom:4px;padding:0 10px;margin-left:-120px;
	border-right-width:0;background:none;text-shadow:none;border:0;border:1px solid #ddd;
}
.tab-2.tab-style-2>ul>li:last-child>a{margin-bottom:0;}
.tab-2.tab-style-2 .tab-btn-on{color:#ff6600; box-shadow:0 -4px 0 0 rgba(255,102,0,1) inset;}
.tab-2.tab-style-2 .tab-btn-off{color:#777;}
.tab-2.tab-style-2 .tab-btn-off:hover{color:#333;background:none}
.tab-2.tab-style-2 .tab-content{position:absolute;top:0;left:5px;display:block;width:100%;min-height:100%;border:1px solid #ddd;}

/*tab-2 tab-style-3*/
.tab-2.tab-style-3{padding-left:120px}
.tab-2.tab-style-3:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-3>ul{position:relative}
.tab-2.tab-style-3>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-3>ul>li{float:none}
.tab-2.tab-style-3>ul>li>a{position:relative;display:block;width:120px;margin-bottom:4px;padding:0 10px;margin-left:-120px;text-shadow:none;border:0;background:#eee;}
.tab-2.tab-style-3>ul>li:last-child>a{margin-bottom:0;}
.tab-2.tab-style-3 .tab-btn-on{border:1px solid #ff6600;background:#fff;}
.tab-2.tab-style-3 .tab-btn-off{color:#777}
.tab-2.tab-style-3 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-2.tab-style-3 .tab-content{position:absolute;top:0;left:5px;display:block;width:100%;min-height:100%;border-left:1px solid #ddd;}

/*tab-2 tab-style-4*/
.tab-2.tab-style-4{padding-left:120px}
.tab-2.tab-style-4:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-4>ul{position:relative}
.tab-2.tab-style-4>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-2.tab-style-4>ul>li{float:none}
.tab-2.tab-style-4>ul>li>a{position:relative;display:block;width:120px;margin-bottom:1px;padding:0 10px;margin-left:-120px;border-right-width:0;background:none;text-shadow:none;}
.tab-2.tab-style-4>ul>li:last-child>a{margin-bottom:0;}
.tab-2.tab-style-4 .tab-btn-on{background:#e64d3f;color:#fff;}
.tab-2.tab-style-4 .tab-btn-off{color:#777;background:#eee;border:0;}
.tab-2.tab-style-4 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-2.tab-style-4 .tab-content{position:absolute;top:0;left:-1px;display:block;width:100%;min-height:100%;border:1px solid #ddd;border-left:1px solid #e64d3f;}


/*tab-3 basic*/
.tab-3.basic{padding-right:120px;display:block}
.tab-3.basic:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.basic>ul{position:relative;margin:0;padding:0;list-style:none;*zoom:1}
.tab-3.basic>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.basic>ul>li{float:none}
.tab-3.basic>ul>li>a{position:relative;display:block;width:120px;padding:0;margin-bottom:-1px;margin-left:-4px;left:100%;border-width:1px;border-style:solid;border:0;background:none;border:1px solid #ddd;}
.tab-3.basic>ul>li:first-child>a{}
.tab-3.basic>ul>li:last-child>a{margin-bottom:0;}
.tab-3.basic .tab-btn-on{border:1px solid #ccc;border-left:1px solid #fff;}
.tab-3.basic .tab-btn-off{color:#777;}
.tab-3.basic .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-3.basic .tab-content{position:absolute;top:0;left:-3px;display:block;width:100%;min-height:100%;border:1px solid #ccc}

/*tab-3 tab-style-1*/
.tab-3.tab-style-1{padding-right:120px;display:block}
.tab-3.tab-style-1:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-1>ul{position:relative;margin:0;padding:0;list-style:none;*zoom:1}
.tab-3.tab-style-1>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-1>ul>li{float:none}
.tab-3.tab-style-1>ul>li>a{
	position:relative;display:block;width:120px;padding:0;margin-bottom:4px;margin-left:-4px;left:100%;
	background:none;text-shadow:none;border-top-right-radius:5px;border-bottom-right-radius:5px;
}
.tab-3.tab-style-1>ul>li:last-child>a{margin-bottom:0;}
.tab-3.tab-style-1 .tab-btn-on{border:1px solid #333;border-left:1px solid #fff;}
.tab-3.tab-style-1 .tab-btn-off{color:#777}
.tab-3.tab-style-1 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-3.tab-style-1 .tab-content{position:absolute;top:0;left:-3px;display:block;width:100%;min-height:100%;border:1px solid #333;border-top-left-radius:10px;border-bottom-left-radius:10px;}

/*tab-3 tab-style-2*/
.tab-3.tab-style-2{padding-right:120px;display:block}
.tab-3.tab-style-2:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-2>ul{position:relative;margin:0;padding:0;list-style:none;*zoom:1}
.tab-3.tab-style-2>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-2>ul>li{float:none}
.tab-3.tab-style-2>ul>li>a{
	position:relative;display:block;width:120px;padding:0;margin-bottom:4px;margin-left:-4px;
	left:100%;background:none;text-shadow:none;border:1px solid #ddd;
}
.tab-3.tab-style-2>ul>li:last-child>a{margin-bottom:0;}
.tab-3.tab-style-2 .tab-btn-on{border-collapse:separate; color:#ff6600;box-shadow:0 -4px 0 0 rgba(255,102,0,1) inset;}
.tab-3.tab-style-2 .tab-btn-off{color:#777;}
.tab-3.tab-style-2 .tab-btn-off:hover{color:#333;background:none}
.tab-3.tab-style-2 .tab-content{position:absolute;top:0;left:-10px;display:block;width:100%;min-height:100%;border:1px solid #ddd;}

/*tab-3 tab-style-3*/
.tab-3.tab-style-3{padding-right:120px;display:block}
.tab-3.tab-style-3:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-3>ul{position:relative;margin:0;padding:0;list-style:none;*zoom:1}
.tab-3.tab-style-3>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-3>ul>li{float:none}
.tab-3.tab-style-3>ul>li>a{position:relative;display:block;width:120px;padding:0;margin-bottom:4px;margin-left:-4px;left:100%;border-right-width:0;background:none;text-shadow:none;border:0;background:#eee;}
.tab-3.tab-style-3>ul>li:first-child>a{}
.tab-3.tab-style-3>ul>li:last-child>a{margin-bottom:0;}
.tab-3.tab-style-3 .tab-btn-on{border:1px solid #ff6600;background:#fff;}
.tab-3.tab-style-3 .tab-btn-off{color:#777;}
.tab-3.tab-style-3 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-3.tab-style-3 .tab-content{position:absolute;top:0;left:-8px;display:block;width:100%;min-height:100%;border-right:1px solid #ddd;}

/*tab-3 tab-style-4*/
.tab-3.tab-style-4{padding-right:120px;display:block}
.tab-3.tab-style-4:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-4>ul{position:relative;margin:0;padding:0;list-style:none;*zoom:1}
.tab-3.tab-style-4>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-3.tab-style-4>ul>li{float:none}
.tab-3.tab-style-4>ul>li>a{position:relative;display:block;width:120px;padding:0;margin-bottom:1px;left:100%;border-right-width:0;background:none;text-shadow:none;border:0;background:#eee;}
.tab-3.tab-style-4>ul>li:first-child>a{}
.tab-3.tab-style-4>ul>li:last-child>a{margin-bottom:0;}
.tab-3.tab-style-4 .tab-btn-on{background:#e64d3f;color:#fff;}
.tab-3.tab-style-4 .tab-btn-off{color:#777;}
.tab-3.tab-style-4 .tab-btn-off:hover{background:#eee;overflow:hidden;color:#333}
.tab-3.tab-style-4 .tab-content{position:absolute;top:0;left:1px;display:block;width:100%;min-height:100%;border-right:1px solid #e64d3f;}


/*tab-4 basic*/
.tab-4.basic{position:relative;width:100%;min-height:43px}
.tab-4.basic:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.basic>ul{position:absolute;margin:0;padding:0;list-style:none;bottom:0;display:block;width:100%;}
.tab-4.basic>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.basic>ul>li{float:left}
.tab-4.basic>ul>li>a{position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:-1px;border-width:1px;border-style:solid;border-top-width:0;border:0;border-right:1px solid #ddd;}
.tab-4.basic .tab-btn-on{border:1px solid #ccc;border-top:1px solid #fff;}
.tab-4.basic .tab-btn-off{background:#fff;color:#777;border:1px solid #ddd;}
.tab-4.basic .tab-btn-off:hover{background:#eee;color:#333}
.tab-4.basic .tab-content{position:absolute;bottom:41px;left:0;width:100%;min-height:100%;border:1px solid #ccc;}

/*tab-3 tab-style-1*/
.tab-4.tab-style-1{position:relative;width:100%;min-height:43px}
.tab-4.tab-style-1:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-1>ul{position:absolute;margin:0;padding:0;list-style:none;bottom:0;display:block;width:100%;}
.tab-4.tab-style-1>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-1>ul>li{float:left}
.tab-4.tab-style-1>ul>li>a{
	position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:4px;border:0;
	border-bottom-left-radius:5px;border-bottom-right-radius:5px;
}
.tab-4.tab-style-1 .tab-btn-on{border:1px solid #333; border-top:1px solid #fff;}
.tab-4.tab-style-1 .tab-btn-off{background:none;color:#777}
.tab-4.tab-style-1 .tab-btn-off:hover{background:#eee;color:#333}
.tab-4.tab-style-1 .tab-content{position:absolute;bottom:41px;left:0;width:100%;min-height:100%;border:1px solid #333;border-top-right-radius:10px;border-bottom-right-radius:10px;}

/*tab-3 tab-style-2*/
.tab-4.tab-style-2{position:relative;width:100%;min-height:43px}
.tab-4.tab-style-2:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-2>ul{position:absolute;margin:0;padding:0;list-style:none;bottom:0;display:block;width:100%;}
.tab-4.tab-style-2>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-2>ul>li{float:left}
.tab-4.tab-style-2>ul>li>a{position:relative;display:block;min-width:200px;height:42px;padding:0;margin-right:0px;border-width:1px;border-style:solid;border-top-width:0;border:0;}
.tab-4.tab-style-2 .tab-btn-on{border-top:4px solid #ff6600;color:#ff6600;}
.tab-4.tab-style-2 .tab-btn-off{background:none;color:#777;border-top:4px solid #fff;}
.tab-4.tab-style-2 .tab-btn-off:hover{border-top:4px solid #ddd;color:#333}
.tab-4.tab-style-2 .tab-content{position:absolute;bottom:41px;left:0;width:100%;min-height:100%;border-bottom:1px solid #ddd;}

/*tab-3 tab-style-3*/
.tab-4.tab-style-3{position:relative;width:100%;min-height:43px}
.tab-4.tab-style-3:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-3>ul{position:absolute;margin:0;padding:0;list-style:none;bottom:0;display:block;width:100%;}
.tab-4.tab-style-3>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-3>ul>li{float:left}
.tab-4.tab-style-3>ul>li>a{position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:4px;border-width:1px;border-style:solid;border-top-width:0;border:0}
.tab-4.tab-style-3 .tab-btn-on{border:1px solid #ff6600;color:#ff6600;}
.tab-4.tab-style-3 .tab-btn-off{background:#eee;color:#777;}
.tab-4.tab-style-3 .tab-btn-off:hover{}
.tab-4.tab-style-3 .tab-content{position:absolute;bottom:48px;left:0;width:100%;min-height:100%;border:1px solid #ddd}

/*tab-3 tab-style-4*/
.tab-4.tab-style-4{position:relative;width:100%;min-height:43px}
.tab-4.tab-style-4:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-4>ul{position:absolute;margin:0;padding:0;list-style:none;bottom:0;display:block;width:100%;}
.tab-4.tab-style-4>ul:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.tab-4.tab-style-4>ul>li{float:left}
.tab-4.tab-style-4>ul>li>a{position:relative;display:block;min-width:120px;height:42px;padding:0;margin-right:4px;border:0;text-shadow:none;}
.tab-4.tab-style-4 .tab-btn-on{background:#e64d3f;color:#fff;}
.tab-4.tab-style-4 .tab-btn-off{background:#eee;color:#777;}
.tab-4.tab-style-4 .tab-btn-off:hover{}
.tab-4.tab-style-4 .tab-content{position:absolute;bottom:42px;left:0;width:100%;min-height:100%;border:1px solid #ddd;border-bottom:1px solid #e64d3f}


/*tab-5 basic*/
.tab-5.basic{display:block;min-height:auto;margin-bottom:0;overflow-y:auto}
.tab-5.basic>ul>li{float:none;display:block;}
.tab-5.basic>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;border-top-width:0;text-align:left;color:#777}
.tab-5.basic>ul>li:first-child>a{border-top-width:1px;}
.tab-5.basic .tab-btn-on{border:1px solid #ccc;border-bottom:0;color:#333;}
.tab-5.basic .tab-btn-off{background:none;color:#777;}
.tab-5.basic .tab-btn-off:hover{background:#eee;color:#333}
.tab-5.basic .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0;}
.tab-5.basic .tab-btn-on:after{font-family:'axicon';content:"\e931";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none}
.tab-5.basic .tab-btn-off:after{font-family:'axicon';content:"\e92e";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none;opacity:0.7}
.small[class*=tab-btn-on], .small[class*=tab-btn-off]{min-width:0;padding:0 10px}
.tab-5.basic .tab-content{background:#f9f9f9;border:1px solid #ccc;border-top:0;}

/*tab-5 tab-style-1*/
.tab-5.tab-style-1{display:block;min-height:auto;margin-bottom:0;overflow-y:auto}
.tab-5.tab-style-1>ul>li{float:none;display:block;}
.tab-5.tab-style-1>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;border-top-width:0;text-align:left;}
.tab-5.tab-style-1>ul>li:first-child>a{border-top-width:1px}
.tab-5.tab-style-1 .tab-btn-on{border:1px solid #ddd;border-bottom:0;color:#333;background:#eee;}
.tab-5.tab-style-1 .tab-btn-off{background:none;color:#777}
.tab-5.tab-style-1 .tab-btn-off:hover{background:#eee;color:#333}
.tab-5.tab-style-1 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0;}
.tab-5.tab-style-1 .tab-btn-on:after{font-family:'axicon';content:"\e931";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none}
.tab-5.tab-style-1 .tab-btn-off:after{font-family:'axicon';content:"\e92e";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none;opacity:0.7}
.small[class*=tab-btn-on], .small[class*=tab-btn-off]{min-width:0;padding:0 10px}
.tab-5.tab-style-1 .tab-content{background:#eee;border:1px solid #ddd;border-top:0;}

/*tab-5 tab-style-2*/
.tab-5.tab-style-2{display:block;min-height:auto;margin-bottom:0;overflow-y:auto}
.tab-5.tab-style-2>ul>li{float:none;display:block;}
.tab-5.tab-style-2>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;text-align:left;}
.tab-5.tab-style-2>ul>li:first-child>a{border-top-width:1px;}
.tab-5.tab-style-2>ul>li:last-child{border-bottom:1px solid #ddd;}
.tab-5.tab-style-2 .tab-btn-on{border:1px solid #ff6600;color:#ff6600;border-left:4px solid #ff6600 !important}
.tab-5.tab-style-2 .tab-btn-off{background:none;}
.tab-5.tab-style-2 .tab-btn-off:hover{color:#333;}
.tab-5.tab-style-2 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0;}
.tab-5.tab-style-2 .tab-btn-on:after{font-family:'axicon';content:"\e931";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none}
.tab-5.tab-style-2 .tab-btn-off:after{font-family:'axicon';content:"\e92e";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none;opacity:0.7}
.small[class*=tab-btn-on], .small[class*=tab-btn-off]{min-width:0;padding:0 10px}
.tab-5.tab-style-2 .tab-content{background:#fff;border-top:0;}

/*tab-5 tab-style-3*/
.tab-5.tab-style-3{display:block;min-height:auto;margin-bottom:0;overflow-y:auto}
.tab-5.tab-style-3>ul>li{float:none;display:block;}
.tab-5.tab-style-3>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;text-align:left;margin-top:5px;}
.tab-5.tab-style-3>ul>li:first-child>a{border-top-width:1px;}
.tab-5.tab-style-3 .tab-btn-on{border-bottom:1px solid #ff6600;color:#ff6600}
.tab-5.tab-style-3 .tab-btn-off{background:#eee;}
.tab-5.tab-style-3 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0;background:#fff;border-top:0;}
.tab-5.tab-style-3 .tab-btn-on:after{font-family:'axicon';content:"\e931";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none}
.tab-5.tab-style-3 .tab-btn-off:after{font-family:'axicon';content:"\e92e";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none;opacity:0.7}
.small[class*=tab-btn-on], .small[class*=tab-btn-off]{min-width:0;padding:0 10px}

/*tab-5 tab-style-4*/
.tab-5.tab-style-4{display:block;min-height:auto;margin-bottom:0;overflow-y:auto}
.tab-5.tab-style-4>ul>li{float:none;display:block;}
.tab-5.tab-style-4>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;text-align:left;}
.tab-5.tab-style-4>ul>li:first-child>a{border-top-width:1px;}
.tab-5.tab-style-4 .tab-btn-on{color:#e64d3f;margin-top:5px;border-top:2px solid #555 !important;border-bottom:0;}
.tab-5.tab-style-4 .tab-btn-off{background:#eee;}
.tab-5.tab-style-4 .tab-content{
	position:relative;top:0px;left:0;width:100%;min-height:auto;
	border-top-width:0;background:#fff;border-top:0;border-bottom:2px solid #555;margin-bottom:5px;
}
.tab-5.tab-style-4 .tab-btn-on:after{font-family:'axicon';content:"\e931";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none}
.tab-5.tab-style-4 .tab-btn-off:after{font-family:'axicon';content:"\e92e";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none;opacity:0.7}
.small[class*=tab-btn-on], .small[class*=tab-btn-off]{min-width:0;padding:0 10px}

/*tab-5 tab-style-5*/
.tab-5.tab-style-5{display:block;min-height:auto;margin-bottom:0;overflow-y:auto}
.tab-5.tab-style-5>ul>li{float:none;display:block;}
.tab-5.tab-style-5>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;text-align:left;background:#999;text-shadow:none;color:#fff;}
.tab-5.tab-style-5>ul>li:first-child>a{border-top-width:1px;}
.tab-5.tab-style-5 .tab-btn-on{}
.tab-5.tab-style-5 .tab-btn-off{}
.tab-5.tab-style-5 .tab-content{
	position:relative;top:0px;left:0;width:100%;min-height:auto;
	border-top-width:0;background:#fff;border-top:0;
}
.tab-5.tab-style-5 .tab-btn-on:after{font-family:'axicon';content:"\e931";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none}
.tab-5.tab-style-5 .tab-btn-off:after{font-family:'axicon';content:"\e92e";display:inline-block;*display:inline;*zoom:1;float:right;font-size:24px;font-weight:normal;text-shadow:none;opacity:0.7}
.small[class*=tab-btn-on], .small[class*=tab-btn-off]{min-width:0;padding:0 10px}





/* UL/OL 변환 셀렉터박스 */
.select-box{
position: relative;
padding-right:25px !important;
padding-right:10px !important\0/IE8+9; /* ie8,9 hack */
text-align:left;
}
.select-box:before, .select-box:after{
content:'';position:absolute;z-index:2;top:50%;right:10px;width:0;height:0;
border-width:5px;border-style:dashed;border-left-color:transparent;border-right-color:transparent;    
border-width:0\0/IE8+9; /* ie8,9 hack */
pointer-events: none;
}
@-moz-document url-prefix(){ /* firefox */
.select-box{padding-right:10px !important}		
.select-box:before, .select-box:after{border-width:0}   
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){  /* ie10 */
.select-box{padding-right:10px !important}	
.select-box:before, .select-box:after{border-width:0}   
}  
.select-box:before{margin-top:-7px;border-bottom-style:solid;border-top:none}
.select-box:after{border-top-style: solid;border-bottom: none}
.select-box .selectbox{margin:0;padding:2px;line-height:100%;font-size:inherit;color:inherit;font-weight:bold;background:rgba(0,0,0,0) !important;border:0;border-radius:0;-webkit-appearance:none;box-shadow:none}
.select-box .selectbox:hover{cursor:pointer}
.select-box .selectbox:focus{z-index:3;color:#303030;outline:2px solid #49aff2;outline:2px solid -webkit-focus-ring-color;outline-offset:-2px}

.board-selectbox{paddin1g:10px;}
.board-selectbox .selectbox{padding:10px 0;min-width:80px;}
.board-selectbox label:before{display:inline-block;font-family:axicon;font-size:110%;content:"\f0ca";margin:0 10% 0 0;vertical-align:middle;}

.large[class*=select-box] .selectbox{padding:5px}
.small[class*=select-box] .selectbox{padding:1px}
.select-box label{font-weight:bold !important;padding:0 5px;margin-right:5px}




@media screen and (max-width:683px){

.group_tab>ul{display:none !important} 
.mobile-menu>div{padding:10px}
.mobile-menu>div>div>div>div{border-width:0;}
.mobile-menu>div>div>div>div{border-width:1px;border-style:solid;margin-top:-1px}
.one-cell>.content_area{text-align:center}	
.one-cell>.content_area>.title{position:static;width:auto;text-align:center}
.one-cell>.content_area>.count{margin-left:0}
}
@media screen and (max-width: 480px) {
    input[type="submit"],input[type="reset"],input[type="button"],button,.button {padding:0;width:100%;}
}


@media screen and (max-width:439px){
.e-ptr{position:absolute !important;top:0;right:0}
.e-pbr{position:absolute !important;bottom:0;right:0}
/* 텝박스 */	
.tab-btn-on{z-index:0;border-radius:0px !important;-webkit-border-radius:0px !important;-moz-border-radius:0px !important}
.tab-btn-off{z-index:0;border-radius:0px !important;-webkit-border-radius:0px !important;-moz-border-radius:0px !important}
.tab-content{z-index:0;border-radius:0px !important;-webkit-border-radius:0px !important;-moz-border-radius:0px !important}
.tab-1{display:block;min-height:auto;margin-bottom:0}
.tab-1>ul>li{float:none;display:block;}
.tab-1>ul>li>a{display:block;padding:0 10px;margin-right:0;border-width:1px;border-style:solid;border-top-width:0;text-align:left}
.tab-1>ul>li:first-child>a{border-top-width:1px}
.tab-1 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0;}
.tab-2{width:100%;padding-left:0}
.tab-2>ul>li{float:none;display:block}
.tab-2>ul>li>a{position:relative;display:block;width:auto;padding:0 10px;margin-left:0;border-width:1px;border-style:solid;border-top-width:0;text-align:left}
.tab-2>ul>li:first-child>a{border-top-width:1px}
.tab-2 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0;}
.tab-3{width:100%;padding-right:0}
.tab-3>ul>li{float:none;display:block}
.tab-3>ul>li>a{position:relative;display:block;width:auto;padding:0 10px;margin-left:0;left:0;border-width:1px;border-style:solid;border-top-width:0;text-align:left}
.tab-3>ul>li:first-child a{border-top-width:1px;border-top-style:solid}
.tab-3 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0}
.tab-4{display:block;min-height:auto;margin-top:0;}
.tab-4>ul{position:relative}
.tab-4>ul>li{float:none;display:block;}
.tab-4>ul>li>a{display:block;padding:0 10px;margin-right:0;border-top-width:0;text-align:left}
.tab-4>ul>li:first-child>a{border-top-width:1px}
.tab-4 .tab-content{position:relative;top:0px;left:0;width:100%;min-height:auto;border-top-width:0}
}


/* [편집기 관련] ==================================================  */
.form-style-1 input, .form-style-1 textarea, .form-style-1 select{width:100%;*wid1th:95%;height:34px;line-height:170%;padding:0 0.7em;margin:0;margin-bottom:0.25em;border:1px solid #bdbdbd;border-radius:3px;background:#fbfbfb;color:#333;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.form-style-1 textarea{height:100px}
.form-style-1 input:hover, .form-style-1 textarea:hover, .form-style-1 select:hover{border-color:#ccc;background:#fff}
.form-style-1 input:focus, .form-style-1 textarea:focus, .form-style-1 select:focus{border-color:#f44336;}
.form-style-1 .label-1{display:block;width:100px;height:34px;line-height:34px;text-align:center;border:1px solid #bdbdbd;border-radius:3px;background:#e0e0e0;color:#000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
